<%= simple_form_for @profile, url: "/student/profile" do |f| %>
  <div class="form-inputs">
    <%= f.input :zip , label: "What is your zipcode?"%>
    <%= f.input :born_on, label: "When were you born?", html5: true %>
    <%= f.input :about_me, label: "Welcome message. This is the first thing someone will see." %>
    <%= f.input :bio, label: "What do you want people to know about your life?" %>
    <%= f.input :goals, label: "What do you want to accomplish in the future?" %>
    <%= f.input :interests, label: "What are your favorite activities?" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Profile" %>
  </div>
  <% end %>
