<div class="row">
  <div class="small-3 columns">
    <h5><%= link_to "Dashboard", student_path, method: "get" %></h5>
    <h5><%= link_to "Profile", student_profile_path, method: "get" %></h5>
    <h5><%= link_to "Projects", student_projects_path, method: "get" %></h5>
    <h5>Share</h5>
  </div>
  <div class="small-9 columns">
    <div class="row">
      <div class="profile-card small-6 medium-4 columns">
        <img src="/default-profile-picture.png">
        <div class="card-section">
          <h4><%= @user.name %></h4>
          <h6><%= @user.created_at.strftime('%Y-%m-%d') %></h6>
          <h6><%= @user.updated_at.strftime('%Y-%m-%d') %></h6>
        </div>
      </div>
      <div class="small-6 medium-4 columns">
        <% if !@user.profile %>
          <p>You haven't started your profile yet. <%= link_to "Click here", new_student_profile_path, method: "get" %> to begin.</p>
        <% end %>
      </div>
      <div class="quote-card small-6 medium-4 columns">
        <blockquote>
          Those people who think they know everything are a great annoyance to those of us who do.
          <cite>Isaac Asimov</cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>
