<%= simple_form_for @portfolio, url: "/student/portfolios/#{@portfolio.slug}" do |f| %>
<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :welcome_message %>
  <% if current_user.projects.length > 0 %>
    <%= f.association :projects, collection: current_user.projects, :as => :check_boxes %>
  <% else %>
    <p>You should probably <%= link_to "make some projects", new_student_project_path %> before you share your profile with people.</p>
  <% end %>
</div>

<div class="form-actions">
  <%= f.button :submit, "Save Portfolio" %>
</div>
<% end %>
