<div id="main" class="small-12 medium-10 columns">
  <h1>Your Portfolios</h1>


  <table class="text-center">
    <thead>
      <tr>
        <td class="text-center">View</td>
        <td class="text-center">Name</td>
        <td class="text-center">Created On</td>
        <td class="text-center">Last Updated</td>
        <td class="text-center">Share</td>
        <td class="text-center">Edit</td>
        <td class="text-center">Delete</td>
      </tr>
    </thead>

    <tbody>
      <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= link_to "", student_portfolio_path(portfolio), method: "get", class: "fi-eye" %></td>
        <td><%= portfolio.title %></td>
        <td><%= portfolio.created_at.strftime('%m/%d/%y') %></td>
        <td><%= portfolio.updated_at.strftime('%m/%d/%y') %></td>
        <td><%= link_to "", share_path(portfolio), method: "get", class: "fi-link" %></td>
        <td><%= link_to "", edit_student_portfolio_path(portfolio), method: "get", class: "fi-pencil" %></td>
        <td><%= link_to "", student_portfolio_path(portfolio), method: "delete", class: "fi-trash" %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="7" class="text-center"><%= link_to 'New Portfolio', new_student_portfolio_path, method: "get", class: "button expanded"%></td>
      </tr>
    </tbody>
  </table>
  <div class="small-12 columns">
    <%= will_paginate @portfolios, class: "text-center" %>
  </div>
</div>
