<%= simple_form_for @institutionportfolio, url: "/processor/portfolios/#{@institutionportfolio.id}" do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :status %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>

<% end %>
