<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-4 columns">
      <i class="fi-lightbulb"></i>
      <h6>Studious wants to make students people, again. We know that you are more than your GPA and SAT scores. Let us show the world what you're capable of.</h6>
    </div>
    <div class="small-12 medium-4 columns">
      <i class="fi-torsos-all"></i>
      <h6>Have Suggestions? Reach our to us on our Github Site!</h6>
    </div>
    <div class="small-12 medium-4 columns">
      <i class="fi-link"></i>
      <% if !current_user %>
        <h6>Register</h6>
        <h6>Log-In</h6>
      <% else %>
        <h6><%= link_to "Dashboard", student_path, method: "get" %></h6>
        <h6><%= link_to "Profile", student_profile_path, method: "get" %></h6>
        <h6><%= link_to "Projects", student_projects_path, method: "get" %></h6>
        <hr>
        <h6><%= link_to "Account Settings", edit_user_registration_path, method: "get" %></h6>
        <h6><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></h6>
      <% end %>
    </div>
  </div>
</footer>
