<div class="profile-card show-for-medium medium-3 columns">
  <% if !user.profile.avatar.url.present? %>
    <img class="profile-card-image" src="/default-profile-picture.png">
  <% else %>
    <%= cl_image_tag(user.profile.avatar, :width=>400, :height=>400, :gravity => :face, :crop=>"lfill") %>
  <% end %>
  <% if user == current_user %>
    <%= button_to 'Edit Image', profile_image_path, method: "get", class: "button expanded"%>
  <% end %>
  <div class="card-section">
    <h4 class="text-center"><strong><%= user.name %></strong></h4>
    <table class="stack unstriped show-for-large">
      <tbody>
        <% if user.profile %>
        <tr>
          <td><strong>Age:</strong></td>
          <td><%= user.profile.age %></td>
        </tr>
        <tr>
          <td><strong>City:</strong></td>
          <td><%= ZipCodes.identify(user.profile.zip)[:city] %></td>
        </tr>
        <% end %>
        <tr>
          <td><strong>Last Updated:</strong></td>
          <td><%= user.updated_at.strftime('%m/%d/%y') %></td>
        </tr>
        <tr>
          <td><strong>User Since:</strong></td>
          <td><%= user.created_at.strftime('%m/%d/%y') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
