<%= simple_form_for @project, url: "/student/projects/#{@project.id}" do |f| %>
<div class="form-inputs">
  <%= f.input :title , label: "What would you like to call this accomplishment?"%>
  <%= f.input :description, label: "Describe what you accomplished." %>
  <%= f.input :reflection, label: "What would you do differently if you had the chance?" %>
  <%= f.input :date, label: "When did you accomplish it?", html5: true %>
  <%= f.input :video_url, label: "Link to Video" %>
  <%= f.input :link_url, label: "Link to Other Resources" %>

  <div class="field form-group">
    <%= f.fields_for :images do |image_fields| %>
      <%= cl_image_tag(image_fields.object.avatar, :width => 150, :crop=> :fit) %>
      <%= image_fields.label :remove_photo %>
      <%= image_fields.check_box :remove_avatar %><br>
    <% end %>
  </div>

  <div class="projects-form-images">
    <%= render "images", f: f %>
  </div>
  <button class="button small success button-form-images">Add another image.</button>
  <%= f.input :status %>
</div>

<div class="form-actions">
  <%= f.button :submit, "Update Project" %>
</div>

  <script type="text/javascript">
    $(".button-form-images").on("click", function(e){
      e.preventDefault();
      $(".projects-form-images").append("<%= escape_javascript(render "images", f: f) %>");
    });
  </script>
<% end %>
