<%= simple_form_for @project, url: "/student/projects" do |f| %>
<div class="form-inputs">
  <%= f.input :title , label: "What would you like to call this accomplishment?"%>
  <%= f.input :description, label: "Describe what you accomplished." %>
  <%= f.input :reflection, label: "What would you do differently if you had the chance?" %>
  <%= f.input :date, label: "When did you accomplish it?", html5: true %>
  <%= f.fields_for :images do |image_fields| %>
    <%= image_fields.label :add_image %>
    <%= image_fields.file_field :avatar %>
  <% end %>
  <%= f.input :status %>
</div>

<div class="form-actions">
  <%= f.button :submit, "project" %>
</div>
<% end %>
