<div id="main" class="small-12 medium-10 columns">
  <h1>Your Projects</h1>


  <table class="text-center">
    <thead>
      <tr>
        <td class="text-center">View</td>
        <td class="text-center">Edit</td>
        <td class="text-center">Name</td>
        <td class="text-center">Created On</td>
        <td class="text-center">Last Updated</td>
        <td class="text-center">Status</td>
        <td class="text-center">Delete</td>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to "", student_project_path(project), method: "get", class: "fi-eye" %></td>
        <td><%= link_to "", edit_student_project_path(project), method: "get", class: "fi-pencil" %></td>
        <td><%= project.title %></td>
        <td><%= project.created_at.strftime('%m/%d/%y') %></td>
        <td><%= project.updated_at.strftime('%m/%d/%y') %></td>
        <td><%= project.status %></td>
        <td><%= link_to "", student_project_path(project), method: "delete", class: "fi-trash" %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="7" class="text-center"><%= link_to 'New Project', new_student_project_path, method: "get", class: "button expanded"%></td>
      </tr>
    </tbody>
  </table>
</div>
