<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Studious" %></title>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= render "shared/titlebar" %>

    <% if alert || notice %>
      <div id="flash" class="flash text-center">
        <h4><%= notice %><%= alert %></h4>
      </div>
    <% end %>

    <div id="main-body" class="row align-stretch">
      <%= render 'shared/sidebar' unless @disable_sidebar %>
      <%= yield %>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>
